/* TODO make correct fonts with styled components
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./assets/fonts/BasisGrotesquePro-Regular.eot");
  src: url("./assets/fonts/BasisGrotesquePro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/BasisGrotesquePro-Regular.woff2") format("woff2"),
    url("./assets/fonts/BasisGrotesquePro-Regular.woff") format("woff"),
    url("./assets/fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./assets//fonts/");
  src: url("./assets//fonts/?#iefix") format("embedded-opentype"),
    url("./assets//fonts/BasisGrotesquePro-Medium.woff2") format("woff2"),
    url("./assets//fonts/BasisGrotesquePro-Medium.woff") format("woff"),
    url("./assets//fonts/BasisGrotesquePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./assets/fonts/");
  src: url("./assets/fonts/?#iefix") format("embedded-opentype"),
    url("./assets/fonts/BasisGrotesquePro-Bold.woff2") format("woff2"),
    url("./assets/fonts/BasisGrotesquePro-Bold.woff") format("woff"),
    url("./assets/fonts/BasisGrotesquePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */
